.main-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: calc(100vh - 137px);
  background-color: $white;
  overflow-y: auto;

  @media (min-width: $screen-md) {
    height: calc(100vh - 93px);
  }

  @media (min-width: $screen-lg) {
    height: calc(100vh - 117px);
  }

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__content {
    flex: 0 1 auto;
    margin-bottom: 40px;

    @media (min-width: $menu-desktop-width) {
      overflow-y: auto;
    }
  }

  &__footer {
    flex: 0 1 auto;
    border-top: 2px solid $border-color;
  }

  &__mobile {

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @media (min-width: $menu-desktop-width) {
      display: block;
    }
  }

  &__list {
    margin: 0 -20px;
    padding: 0;
    list-style: none;

    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @media (min-width: $screen-lg) {
      margin: 0 -30px;
    }

    @media (min-width: $screen-xl) {
      margin: 0 -40px;
    }

    & > #{$block-name}__item {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-left: 30px;

      @media (min-width: $screen-xl) {
        margin-left: 40px;
      }

      &:nth-child(1),
      &:nth-child(3) {
        border-right: 2px solid $border-color;
      }

      &:nth-child(2) {

        @media (min-width: $screen-lg) {
          border-right: 2px solid $border-color;
        }
      }

      &:not(:nth-child(n+5)) {
        padding: 30px;
        margin-top: 0;
        margin-left: 0;
        border-bottom: 2px solid $border-color;

        @media (min-width: $screen-xl) {
          padding: 40px;
        }
      }
    }
  }

  &__submenu {

    #{$block-name}__item {
      margin-bottom: 15px;

      &:not(:nth-child(n+5)) {

        @media (min-width: $menu-desktop-width) {
          flex-basis: 100%;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    #{$block-name}__link {
      font-size: 16px;
      font-weight: 500;
      color: $text-color;

      &:hover,
      &:focus {
        color: $main-color;
      }
    }
  }

  &__item {
    //position: relative;

    &:not(:nth-child(n+5)) {

      @media (min-width: $menu-desktop-width) {
        flex: 1 1 calc(50%);
        padding-left: 30px;
        padding-right: 30px;
      }

      @media (min-width: $screen-lg) {
        flex: 1 1 calc(25%);
      }
    }

    &.active {

      & > #{$block-name}__link {
        color: $main-color;
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: 0;
    text-decoration: none;
    background-color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__copyrights {
    display: none;

    @media (min-width: $screen-lg) {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 40px 20px 0;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__applications {
    position: relative;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid $border-color;

    @media (min-width: $screen-md) {
      flex: 0 1 auto;
      padding: 20px;
      border-left: 2px solid $border-color;
    }

    @media (min-width: $screen-lg) {
      padding-left: 40px;
      padding-right: 40px;
    }

    &::before,
    &::after {
      position: absolute;
      bottom: -2px;
      content: "";
      display: block;
      width: 15px;
      height: 2px;
      background-color: $border-color;
    }

    &::before {
      left: -15px;
    }

    &::after {
      right: -15px;
    }

    img {
      display: block;
      width: 152px;
      height: 44px;
    }

    a + a {
      margin-left: 15px;

      @media (min-width: 992px) {
        margin-left: 20px;
      }

      @media (min-width: $screen-xl) {
        margin-left: 38px;
      }
    }
  }

  &__online {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;

    @media (min-width: $screen-md) {
      flex: 0 1 auto;
    }
  }

  // переключатель

  /* &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  } */
}
