.payments {

  $block-name:                &; // #{$block-name}__element

  .section {
    padding-top: 40px;
    padding-bottom: 20px;

    @media (min-width: $screen-md) {
      padding-bottom: 40px;
    }
  }

  .section--solo {
    padding-top: 0 !important;
    border-top: none;
  }

  &__col-1-2,
  &__col-1-2-3 {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 6, $grid-columns, 30px);
    @include col(lg, 6);
    margin-bottom: 20px;

    @media (min-width: $screen-lg) {
      margin-bottom: 40px;
    }
  }

  &__col-1-2-3 {
    @include col(xl, 4);
  }
}
