@mixin field-text {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  min-height: calc(#{$line-height}em + #{$field-padding-vertical} + #{$field-padding-vertical} + 2px); // Привет, IE
  margin: 0;
  border: 2px solid $border-color;
  border-radius: 3px;
  padding: $field-padding-vertical  $field-padding-horizontal;
  line-height: $line-height;
  font-size: 16px;
  font-family: inherit;
  background-color: #fff;
  -moz-appearance: textfield; // stylelint-disable-line
  appearance: textfield;

  &:focus {
    @include field-focus;
  }

  &[disabled],
  &[readonly] {
    cursor: not-allowed;
    background-color: $border-color;
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
  }

  &[type='color'] {
    padding: 0;
  }

  &::placeholder {
    color: $text-muted;
    opacity: 1;
  }
}


@mixin field-help-text {
  display: block;
  padding-top: 5px;
  font-size: 14px;
  line-height: 1.2em;
  color: $color-danger;

  &:empty { // stylelint-disable-line
    display: none;
  }
}


@mixin field-focus {
  outline: 0;
  background-color: $white;
  //border-color: $main-color;
  box-shadow: 0 0 0 2px rgba($main-color, $opacity);
}


@mixin field-name {
  display: inline-block;
  vertical-align: bottom;
  padding: 0 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: $line-height;
  background-color: yellow;
  transform: translateY(42px);
}
