.btn {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 8px 20px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  background-color: $white;
  cursor: pointer;

  $block-name:                &; // #{$block-name}__element

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    // background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--link {
    $right-padding: 44px;
    position: relative;
    padding: 0 $right-padding 0 0;
    font-size: 20px;
    color: $main-color;
    border: none;
    background: svg-load('../blocks/sprite-svg/svg/arrow-right-icon.svg', fill=$main-color);
    background-size: 6px 9px !important;
    background-repeat: no-repeat !important;
    background-position: right 9px center !important;

    &::after {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      display: block;
      content: "";
      width: 0;
      height: 2px;
      background-color: $main-color;
      transition: width 0.2s ease-out;
    }

    &:hover,
    &:focus {
      color: $main-color;

      &::after {
        width: calc(100% - #{$right-padding});
      }
    }

    /* &--invert {
      color: $white;
      background: svg-load('../blocks/sprite-svg/svg/arrow-right-icon.svg', fill=$white);

      &::after {
        background-color: $white;
      }

      &:hover,
      &:focus {
        color: $white;
      }
    } */
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
