.article {

  $block-name:                &; // #{$block-name}__element

  .news-card {
    border: none;

    h1 {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin: 30px 0 !important;

    @media (min-width: $screen-lg) {
      margin: 40px 0 !important;
    }

    @media (min-width: $screen-xl) {
      margin: 60px 0 !important;
    }
  }

  &__content-wrapper {

    @media (min-width: $screen-lg) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__content-nav {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: $screen-md) {
      padding-top: 40px;
      padding-bottom: 60px;
    }

    @media (min-width: $screen-lg) {
      width: 26.25%;
      flex: 0 0 26.25%;
      padding-top: 60px;
      padding-bottom: 65px;
      padding-right: 30px;
      border-right: 2px solid $border-color;
    }

    @media (min-width: $screen-xl) {
      width: 26%;
      flex: 0 0 26%;
      padding-right: 40px;
    }

    @media (min-width: $screen-xxl) {
      padding-right: 60px;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: -15px;
      right: -15px;
      height: 2px;
      background-color: $border-color;

      @media (min-width: $screen-md) {
        left: -20px;
        right: -20px;
      }

      @media (min-width: $screen-lg) {
        display: none;
      }
    }
  }

  &__nav-wrapper {
    position: sticky;
    top: 60px;
  }

  &__content {

    @media (min-width: $screen-lg) {
      flex: 0 1 auto;
    }
  }

  &__nav-list {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      font-size: 16px;
    }
  }

  &__nav-item {
    position: relative;
    margin-bottom: 20px;
    color: $title-color;
    transition: all 0.25s ease-out;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      margin-left: 10px;
      color: $main-color;

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(-1.3em - 10px);
        width: 4px;
        height: 100%;
        background-color: currentColor;
      }
    }
  }

  &__nav-link {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__content-block {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: $screen-lg) {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 100px;
    }

    @media (min-width: $screen-xl) {
      padding-left: 125px;
    }

    @media (min-width: $screen-xxl) {
      padding-left: 140px;
    }

    &:first-child {
      padding-top: 40px;

      @media (min-width: $screen-lg) {
        padding-top: 60px;
      }
    }

    &:last-child {
      padding-bottom: 40px;

      @media (min-width: $screen-md) {
        padding-bottom: 60px;
      }

      &::after {
        display: none;
      }
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: -15px;
      right: -15px;
      height: 2px;
      background-color: $border-color;

      @media (min-width: $screen-md) {
        left: -20px;
        right: -20px;
      }

      @media (min-width: $screen-lg) {
        left: 0;
        right: 0;
      }
    }
  }
}
