.date {
  display: inline-block;
  vertical-align: baseline;
  padding-left: 40px;
  margin-right: 40px;
  font-size: 16px;
  font-weight: 500;
  color: $text-muted;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px auto;
  background-image: svg-load('../blocks/sprite-svg/svg/calendar_icon.svg', fill=$main-color);

  @media (min-width: $screen-lg) {
    display: block;
    font-size: 18px;
  }

  @media (min-width: $screen-xl) {
    font-size: 20px;
  }

  $block-name:                &; // #{$block-name}__element


  &--time-left {
    display: block;
    margin-top: 15px;
    background-image: svg-load('../blocks/sprite-svg/svg/clock_icon.svg', fill=$main-color);
    background-position: left top 3px;

    @media (min-width: $screen-lg) {
      background-position: left top 8px;
    }
  }
}
