.logo {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;

  $block-name:                &; // #{$block-name}__element

  img {
    display: block;
    width: 120px;
    height: 40px;

    @media (min-width: $screen-md) {
      width: 160px;
      height: 53px;
    }

    @media (min-width: $screen-lg) {
      //width: 236px;
      width: 225px;
      //height: 79px;
      height: 75px;
    }
  }
}
