.messengers {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 24px;

  @media (min-width: $screen-md) {
    padding: 15px 20px;
    border-left: 2px solid $border-color;
  }

  @media (min-width: $screen-lg) {
    padding-left: 40px;
    padding-right: 40px;
  }

  $block-name:                &; // #{$block-name}__element

  &__item {

    & + & {
      margin-left: 12px;

      @media (min-width: $screen-sm) {
        margin-left: 16px;
      }
    }
  }

  &__link {
    display: block;
    width: 24px;
    height: 24px;
    padding: 2px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: $screen-lg) {
      width: 32px;
      height: 32px;
    }

    &--messenger {
      background-size: 20px 20px;
      background-image: svg-load('../blocks/messengers/bg-img/fb-messenger_icon.svg', fill=$white);

      @media (min-width: $screen-lg) {
        background-size: 28px 28px;
      }
    }

    &--tg {
      background-size: 20px 17px;
      background-image: svg-load('../blocks/messengers/bg-img/telegram_icon.svg', fill=$white);

      @media (min-width: $screen-lg) {
        background-size: 28px 24px;
      }
    }

    &--viber {
      background-size: 20px 20px;
      background-image: svg-load('../blocks/messengers/bg-img/viber_icon.svg', fill=$white);

      @media (min-width: $screen-lg) {
        background-size: 28px 28px;
      }
    }

    &--wapp {
      background-size: 20px 20px;
      background-image: svg-load('../blocks/messengers/bg-img/whatsapp_icon.svg', fill=$white);

      @media (min-width: $screen-lg) {
        background-size: 28px 28px;
      }
    }
  }
}
