.request-modal {

  $block-name:                &; // #{$block-name}__element

  &__input-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .text-input {
      flex: 1 1 auto;
      margin-right: 5px;

      @media (min-width: $screen-sm) {
        margin-right: 20px;
      }

      @media (min-width: $screen-md) {
        margin-right: 30px;
      }

      @media (min-width: $screen-xl) {
        margin-right: 40px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
